<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset="utf-8">
<title>Darkcoin Transactions</title>
<script src="<%= site_url %>/socket.io/socket.io.js"></script>
<script src="<%= site_url %>/static/jquery-1.11.0.min.js"></script>
<script src="<%= site_url %>/static/bitflowui.js"></script>
<link rel="stylesheet" href="<%= site_url %>/static/style.css" type="text/css" charset="utf-8" />
<script>
jQuery(document).ready(function($) {
    var bitflow = new BitflowUI({
        'socket' : '<%= site_url %>',
    });
});
</script>
</head>
<body>
</body>
</html>
